{% extends 'layout.html' %}

{% block content %}
    <div class="panel panel-default">
      <div class="panel-heading">新建用户</div>
      <div class="panel-body">

         <form class="form-inline" method="post">
              {% csrf_token %}
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="姓名" name="user">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="年龄" name="age">
              </div>
              <div class="form-group">
                <input type="text" class="form-control"  placeholder="工资" name="salary">
              </div>
              <div class="form-group">

                <select class="form-control" name="dp">
                      {% for row in depart_list %}
                      <option value="{{ row.id }}">{{ row.title }}</option>
                      {% endfor %}
                </select>

              </div>
              <button type="submit" class="btn btn-primary">提交</button>
        </form>

      </div>
    </div>
{% endblock %}
