{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap-3.4.1/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
    <div style="margin: 20px 0;">
        <a href="/depart/add/" class="btn btn-success">添加部门</a>
    </div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>ID</th>
        <th>部门</th>
        <th>人数</th>
        <th>删除</th>
        <th>编辑</th>
    </tr>
    </thead>
    <tbody>
    {% for row in queryset %}
        <tr>
            <td>{{ row.id }}</td>
            <td>{{ row.title }}</td>
            <td>{{ row.count }}</td>
            <td>
                <a href="/depart/delete/?id={{ row.id }}" onclick="return deleteInfo()" class="btn btn-danger btn-xs">delete</a>
                <script>
                    function deleteInfo() {
                        const r = confirm("确定删除此信息？");
                        if (r) {
                            alert("删除成功");
                            return true;
                        }
                        return false;
                    }
                </script>
            </td>
            <td>
                <a href="/depart/edit/?id={{ row.id }}" class="btn btn-primary btn-xs">edit</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

</div>
</body>
</html>
