<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <h2>用户登录</h2>
    <form action="/login/" method="post">
        {% csrf_token %}
        <input type="text" placeholder="用户名" name="user">
        <input type="password" placeholder="密码" name="pwd">
        <input type="submit" value="Login">
        <span style="color: red">{{ error }}</span>
    </form>
</body>
</html>
