{% extends 'layout.html' %}

{% block content %}
    <div style="margin-bottom: 10px;">
        <a href="/add/user/" class="btn btn-success">新建用户</a>
    </div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>工资</th>
            <th>部门名称</th>
        </tr>
        </thead>

        <tbody>
        {% for row in queryset %}
            <tr>
                <td>{{ row.id }}</td>
                <td>{{ row.name }}</td>
                <td>{{ row.age }}</td>
                <td>{{ row.salary }}</td>
                <td>{{ row.depart.title }}</td>
            </tr>
         {% endfor %}
        </tbody>
    </table>
{% endblock %}
